<ion-header>
  <ion-toolbar>
    <ion-title>
      My Favorites Books 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
  <ion-list>
    <ion-item button *ngFor="let item of results" [routerLink]="['/', 'books', item.id]">
      <ion-avatar slot="start">
        <img [src]="item.volumeInfo.imageLinks.smallThumbnail" *ngIf="item.volumeInfo.imageLinks; else image">
        <ng-template #image>
            <img src="../../assets/default/image.png">
        </ng-template>
      </ion-avatar>
      
      <ion-label text-wrap>
        <h3>{{ item.volumeInfo.title}}</h3>
        <p *ngIf="item.volumeInfo.authors; else author">{{ item.volumeInfo.authors }}</p>
        <ng-template #author>
          <p>No author information</p>
        </ng-template>
        
        <p *ngIf="item.volumeInfo.publisher">{{ item.volumeInfo.publisher }}</p>            
      </ion-label>         
    </ion-item>  
  </ion-list>
</ion-content>
