<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="books">
      <ion-icon name="home"></ion-icon>
      <ion-label>Search book</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="books-favorite">
      <ion-icon name="star"></ion-icon>
      <ion-label>My Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="books-scan">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Wish List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="books-keywords">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>List keywords</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
