<ion-header>
    <ion-toolbar text-center>
      <ion-title>Settings</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal($event)">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <ion-item>
            <ion-label>Language :</ion-label>
            <ion-select [(ngModel)]="lang" (ionChange)="onDismiss()">
                <ion-select-option *ngFor="let item of languages" value="{{item.value}}">{{item.key}}</ion-select-option>
              </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>