<ion-header>
    <ion-toolbar text-center>
      <ion-title>Settings</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal($event)">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <ion-item>
            <ion-label>Language :</ion-label>
              <ion-select [(ngModel)]="lang" *ngIf="!storedLang; else selected">
                <ion-select-option *ngFor="let item of languages" value="{{item.value}}">{{item.key}}</ion-select-option>
              </ion-select>
              <ng-template #selected>
                <ion-select [(ngModel)]="lang" [selectedText]="storedLang">
                  <ion-select-option *ngFor="let item of languages" value="{{item.value}}">{{item.key}}</ion-select-option>
                </ion-select>
              </ng-template>              
          </ion-item>
          <ion-item (click)="pickerComp($event)">
            <ion-label slot="start">Maximum results :</ion-label>
            <ion-label *ngIf="number; else textnumber" color="primary" slot="end">{{number}}</ion-label>
            <ng-template #textnumber>
                <ion-label color="primary" slot="end">{{textNumber}}</ion-label>
            </ng-template>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>