<ion-header>
  <ion-toolbar>
    <ion-title>books-keywords</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteKeyword()" *ngIf="disabledTrash == false">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
        <ion-button (click)="editKeyword()" *ngIf="disabledCreate == false">
            <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>    
</ion-header>

<ion-content>
    <ion-refresher class="refresh-" spinner="android" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
      </ion-refresher>
  <ion-item>
    <ion-input type="text" placeholder="Enter a category keyword" [(ngModel)]="keyword"></ion-input>
    <ion-button (click)="addKeyword()" expand="full">
      Add
    </ion-button>
  </ion-item>
    <ion-row wrap>
      <ion-col>
        <ion-button ion-long-press (click)="listBooks(item.text)" [interval]="800" (onPressing)="showDelete(item.text)" size="small" color="light" *ngFor="let item of results" ngDefaultControl>
          {{item.text}}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-list>
        <ion-item button *ngFor="let item of listBooksResults$?.items" [routerLink]="['/', 'books', item.id]" [disabled]="disabledList">
          <ion-avatar slot="start">
            <ion-img [src]="item.volumeInfo.imageLinks.smallThumbnail" *ngIf="item.volumeInfo.imageLinks; else image"></ion-img>
            <ng-template #image>
                <img src="../../assets/default/image.png">
            </ng-template>
          </ion-avatar>
          
          <ion-label text-wrap>
            <h3>{{ item.volumeInfo.title}}</h3>
            <p *ngIf="item.volumeInfo.authors; else author">{{ item.volumeInfo.authors }}</p>
            <ng-template #author>
              <p>No author information</p>
            </ng-template>
            
            <p *ngIf="item.volumeInfo.publisher">{{ item.volumeInfo.publisher }}</p>            
          </ion-label>         
        </ion-item> 
      </ion-list>
</ion-content>
